{
  "appId": "com.example",
  "appName": "Pet Feeder",
  "webDir": ".output/public",
  "server": {
    "hostname": "api.example.com"
  },
  "ios": {
    "contentInset": "always",
    "backgroundColor": "#ffffff" 
  }
}
